.Header {
  position: relative;
  height: 60vh;
  width: 100vw;
  background-image: linear-gradient(
    to right,
    rgba(var(--c-primary-rgb), 1),
    rgba(var(--c-primary-d-rgb), 1)
  );

  display: grid;
  justify-items: center;
  align-items: center;

  &Tint {
    background: linear-gradient(
      to bottom,
      rgba(var(--c-primary-d-rgb), 0.5),
      rgba(var(--c-primary-rgb), 0.2)
    );
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  &Title {
    position: relative;
  }
}
